<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="productName" class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input type="text" formControlName="name" class="form-control" id="productName" placeholder="Name">
      <div *ngIf="!productForm.controls['name'].valid && productForm.controls['name'].touched"
           class="invalid-input-validation">
        Please enter a product name.
      </div>
    </div>

  </div>
  <div class="form-group row">
    <label for="productPrice" class="col-sm-3 col-form-label">Price</label>
    <div class="col-sm-9">
      <input type="text" (blur)="transformAmount($event)" formControlName="price" class="form-control" id="productPrice" placeholder="Price">
      <div *ngIf="!productForm.controls['price'].valid && productForm.controls['price'].touched"
           class="invalid-input-validation">
        Please provide the product price.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="company" class="col-sm-3 col-form-label">Company</label>
    <div class="col-sm-9">
      <input type="text" formControlName="company" class="form-control" id="company" placeholder="Company">
      <div *ngIf="!productForm.controls['company'].valid && productForm.controls['company'].touched"
           class="invalid-input-validation">
        The company is required and must have 50 characters at maximum.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="maximumAge" class="col-sm-3 col-form-label">Maximum age</label>
    <div class="col-sm-9">
      <input type="number" formControlName="ageRestriction" class="form-control" id="maximumAge"
             placeholder="Maximum age">
      <div *ngIf="!productForm.controls['ageRestriction'].valid && productForm.controls['ageRestriction'].touched"
           class="invalid-input-validation">
        The maximum age must be between 0 and 100.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="maximumAge" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
      <textarea id="description" formControlName="description" class="form-control"
                placeholder="Description"></textarea>
      <div *ngIf="!productForm.controls['description'].valid && productForm.controls['description'].touched"
           class="invalid-input-validation">
        The description must be of 100 characters at max.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <div class="text-right">
        <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</form>
