<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button (click)="addNewProduct()" class="btn btn-primary">Add new +</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="products" class="table table-striped table-bordered" style="width:100%">
          <thead>
          <tr>
            <th>Name</th>
            <th>Age restriction</th>
            <th>Price</th>
            <th>Company</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let currentProduct of productList; index as i">
            <td>{{currentProduct.name}}</td>
            <td>{{currentProduct.ageRestriction}}</td>
            <td>{{currentProduct.price}}</td>
            <td>{{currentProduct.company}}</td>
            <td>
              <a routerLink="../{{currentProduct.productId.toString()}}/edit">Edit</a>
              <a routerLink="../{{currentProduct.productId.toString()}}/delete">Delete</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Name</th>
            <th>Age restriction</th>
            <th>Price</th>
            <th>Company</th>
            <th>Actions</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
